# cache files
indexes
results
results_dense
old
tmp
collections
test.py
code/outputs
outputs
training_outputs


# large files
code/data/local_index_search/msmarco_all
code/data/raw_data/msmarco/msmarco_all/queries.train.tsv
code/data/raw_data/msmarco/msmarco_all/queries.dev.tsv
code/data/raw_data/bird/train
code/data/raw_data/bird/dev
code/data/sql/bird/
code/data/raw_data/spider/spider_data
code/data/sql/spider/

# other
LLaMA-Factory