
tensordict
ray
codetiming
omegaconf
scipy

numpy==1.26.4
torch==2.4.0
torchvision==0.19.0
torchaudio==2.4.0
transformers==4.47.1
huggingface-hub>=0.24.0
safetensors>=0.4.1
regex
requests<3
tqdm>=4.27
accelerate
datasets
dill
pandas
ray==2.9.3
wandb
vllm==0.6.3
aiohttp
pillow
prometheus-client
protobuf
pydantic>=2.9
sentencepiece
tiktoken>=0.6.0
uvicorn[standard]
xformers==0.0.27.post2
mistral-common[opencv]>=1.4.4

pyairports
